<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <link rel="stylesheet" href="../static/styles/style.css">
    <title>Mission to Mars</title>
  </head>
  <body>
    <h1 class='header'>Mission to Mars
        <div><button type="button" class="btn btn-danger">Please Click to Scrape Current Data</button></div>
    </h1>
    <hr size="3" color="black">

    <div>   
        <h2 class='news_head'>Latest Mars News</h2>
        <p class='news_title'>{{mars_info[0].Featured_Title}}</p>
        <p class='news_body'>{{mars_info[0].Featured_Description}}</p>
    </div>
    <hr size="3" color="black">
    <div>
        <div class="row">
            <div class="col">
                <figure class="figure">
                    <img src="{{mars_info[0].Featured_Image}}" class="figure-img img-fluid rounded" alt="...">
                    <figcaption class="figure-caption text-center">Featured Mars Image</figcaption>
                </figure>
            </div>
            <div class="col">
            <ul style="list-style-type:none;">
                <li class="weather_block">
                    <div class="row">
                        <div class="col">
                            <h3>Current Weather on Mars</h3>
                            <p>{{mars_info[0].Current_Weather}}</p>
                        </div>
                        <div class="col">
                            <img src="{{mars_info[0].Current_Weather_pic}}" alt="" height="250" width="250" >
                        </div>
                    </div>
                </li>
                <li class="weather_block">
                    <h4 class="fact_head">Mars Facts</h4>
                    <p>
                        <iframe src="{{ url_for('static',filename='styles/mars_facts.html') }}" height='350px' frameborder="0"></iframe>    
                    </p>             
                </li>
            </ul>  
            </div>
        </div>
        </div>
        <hr size="3" color="black">
        <h6 class="hemi_head">Mars' Hemispheres</h6>
        <div class="container">
            <div class="row">
              <div class="col">
                <figure class="figure">
                    <img src="{{mars_info[0].Hemispheres[0].img_url}}" class="figure-img img-fluid rounded" alt="...">
                    <figcaption class="figure-caption text-center">{{mars_info[0].Hemispheres[0].title}}</figcaption>
                  </figure>
              </div>
              <div class="col">
                <figure class="figure">
                    <img src="{{mars_info[0].Hemispheres[1].img_url}}" class="figure-img img-fluid rounded" alt="...">
                    <figcaption class="figure-caption text-center">{{mars_info[0].Hemispheres[1].title}}</figcaption>
                  </figure>
              </div>
              <div class="w-100"></div>
              <div class="col">
                <figure class="figure">
                    <img src="{{mars_info[0].Hemispheres[2].img_url}}" class="figure-img img-fluid rounded" alt="...">
                    <figcaption class="figure-caption text-center">{{mars_info[0].Hemispheres[2].title}}</figcaption>
                  </figure>
              </div>
              <div class="col">
                <figure class="figure">
                    <img src="{{mars_info[0].Hemispheres[3].img_url}}" class="figure-img img-fluid rounded" alt="...">
                    <figcaption class="figure-caption text-center">{{mars_info[0].Hemispheres[3].title}}</figcaption>
                  </figure>
              </div>
            </div>
          </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>